.fl {
	float: left;
}

.fr {
	float: right;
}

a {
	text-decoration: none;
}
select,input{
	border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*清浮动*/
*{
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}

ul li {
	list-style: none;
}

ul,h1,h2,p {
	margin: 0;
	padding: 0;
}
.inline-b{
	display: inline-block;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left !important;
}
.mt-9{
	margin-top: 9px;
}
html,body {
	font: 12px "microsoft yahei";
}
header{
	width: 100%;
	height: 56px;
	background-color: #2189bf;
}
.header-logo{
	margin: 10px 0 10px 50px;
}
.header-search{
	position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 21px 10px 0;
    padding: 5px 18px 0 18px;
}
.bg{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    background: #fff;
}
.content{
	position: relative;
}
.header-search input{
	background-color: transparent;
    font-size: 12px;
    width: 278px;
    padding: 0 0 0 6px;
    line-height: 28px;
    border: none;
    outline: none;
}
.header-search .button {
    width: 17px;
    height: 17px;
    margin: 2px 0 0 3px;
    padding: 0;
    background: url(../images/search.png) no-repeat;
}
.login-link{
	display: inline-block;
	margin: 22px 94px 22px 0;
	font-size: 12px;
	color: #fff;
}
.login-link i{
	width: 15px;
    height: 16px;
    overflow: hidden;
    background: url(../images/user.png) left 75% no-repeat;
    display: inline-block;
    margin-right: 3px;
}
.login-link span{
	vertical-align: top;
}
.main{
	width: 1280px;
	height: 1211px;
	margin: 0 auto;
}
.main-left{
	width: 260px;
	height: 1211px;
	background-color: #2a2e3d;
}
.personal{
	padding-top: 18px;
    padding-left: 45px;
}
.circle{
	width: 57px;
	height: 57px;
	border:1px solid #fff;
	-webkit-border-radius: 28.5px;
	border-radius: 28.5px;
}
.disc{
	width: 47px;
	height: 47px;
	background-color: #bababe;
	-webkit-border-radius: 23.5px;
	border-radius: 23.5px;
	margin: 5px auto;
}
.name{
	font-family: simhei;
	font-size: 16px;
	color: #F6F5F5;
	vertical-align: top;
    margin-top: 20px;
    margin-left: 18px;
}
.tag-content{
	margin-top: 24px;
}
.tag{
	width: 54px;
    text-align: center;
}
.collection-tag{
	margin-left: 48px;
	border-right: 1px solid #323647;
}
.collection-num,.fans-num{
	font-family: simhei;
	font-size: 16px;
	color: #6E8095;
	line-height: 18px;
}
.collection,.fans{
	font-family: simsun;
	font-size: 12px;
	color: #6E8095;
	line-height: 13px;
}
.tree-menu{
	margin-top: 22px;
	background-color: #383d4e;
}
.tree-menu-ul{
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(110, 128, 149);
	padding: 14px 0 14px 45px;
}
.own-report{
	margin-left: 12px;
	color: #fff;
}
.tree-menu-ul ul li{
	padding-left: 24px;
    padding-top: 18px;
}
.tree-menu-ul ul li.open-folder{
	padding-left: 20px;
}
.tree-menu-ul ul li .folder-img{
	margin-left: 7px;
}
.tree-menu-ul ul li span{
	margin-left: 4px;
}
.opened{
	color: #fff;
}
.ul-menu{
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(110, 128, 149);
}
.ul-menu li{
	height: 50px;
    line-height: 50px;
    padding-left: 45px;
}
.ul-menu li span{
	margin-left: 12px;
}
.main-right{
	width: 1020px;
	height: 1211px;
	background-color: #eeeded;
}
.route{
	width: 1020px;
	height: 31px;
	line-height: 31px;
	background-color: #fff;
	font-family: simhei;
	font-size: 12px;
	color: #aaa;
	padding-left: 29px;
	margin-bottom: 10px;
}
.route span.active{
	color: #6898C2;
}
.query-content{
	width: 861px;
	height: 56px;
	background-color: #fff;
	border: 1px solid #dddee0;
	margin: 9px auto;
    padding: 15px 0 15px 30px;
}
.query-item{
	display: inline-block;
	vertical-align: top;
}
.query-content .query-item:nth-child(2){
	margin-left: 37px;
	margin-right: 33px;
}

.query-item label{
	margin-right: 14px;
	font-family: simhei;
	font-size: 12px;
	color: #aaa;
}
.query-item select,.query-item input{
	width: 121px;
	height: 26px;
	border: 1px solid #cbcbcb;
}
.query-item .small-select{
	width: 71px;
}
.query-item p:last-child{
	margin-top: 4px;
}
.search-item{
	margin-left: 28px;
	line-height: 56px;
}
.search-btn{
	width: 51px;
	height: 26px;
	font-size: 12px;
  	font-family: "SimHei";
  	color: #fff;
  	background-color: #388ac1;
}
.arrow{
	width: 31px;
    height: 65px;
    background-color: #fff;
    text-align: center;
    line-height: 65px;
    border-top:1px solid #cacdd0;
    border-left:1px solid #cacdd0;
    vertical-align: top;
}
.money-content{
	width: 111px;
	height: 65px;
	border-top:1px solid #cacdd0;
    border-left:1px solid #cacdd0;
	background-color: #fff;
	text-align: center;
	vertical-align: top;
}
.money-content.active{
	border-top: 4px solid #4388c9;
}
.money-content .time{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #323333;
	line-height: 15px;
	margin-top: 12px;
	margin-bottom: 10px;
}
.money-content .money{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #ababab;
}
.money-content .money span{
	font-family: "microsoft yahei";
	font-size: 21px;
	color: #EC6500;
	line-height: 15px;
}
.history-query{
	width: 131px;
	height: 65px;
	border-top:1px solid #cacdd0;
    border-left:1px solid #cacdd0;
	background-color: #fff;
	text-align: center;
	vertical-align: top;
}
.query-img{
	margin-top: 17px;
	vertical-align: top;
}
.history-query p{
	margin-top: 27px;
    margin-left: 11px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #535353;
	vertical-align: top;
}
.april-statistics{
	margin-top: 21px;
}
.april-statistics h2{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #323333;
	font-weight: normal;
	margin-left: 60px;
	margin-bottom: 5px;
}
.statistics-content{
	width: 201px;
	height: 71px;
	border: 1px solid #d8d9db;
	border-left: 4px solid #43b29d;
	background-color: #fff;
}
.statistics-content:nth-child(2){
	margin-left: 20px;
	margin-right: 20px;
}
.statistics-content:last-child{
	margin-left: 20px;
}
.blue-border{
	border-left: 4px solid #388ac1;
}
.red-border{
	border-left: 4px solid #cf4a36;
}
.yellow-border{
	border-left: 4px solid #e2cd47;
}
.statistics-volume{
	margin-top: 16px;
    margin-left: 8px;
}
.statistics-content .num{
	font-family: simhei;
	font-size: 12px;
	line-height: 25px;
	color: #323333;
}
.statistics-content .volume{
	font-family: simhei;
	font-size: 10px;
	line-height: 21px;
	color: #aaa;
}
.statistics-img{
	width: 61px;
	height: 47px;
	margin-top: 12px;
    margin-left: 78px;
	background-color: #43b29d;
}
.blue-img{
	background-color: #388ac1;
}
.red-img{
	background-color: #cf4a36;
}
.yellow-img{
	background-color: #e2cd47;
}
.statistics-volume,
.statistics-img{
	vertical-align: top;
}
.first-group-project{
	margin-top: 14px;
	margin-left: 62px;
}
.project-box{
	width: 531px;
	height: 375px;
	border: 1px solid #d8d9da;
	background-color: #fff;
	border-radius: 5px;
	vertical-align: top;
}
.project-header{
	height: 41px;
	line-height: 41px;
	background-color: #f4f5f6;
}
.project-header p{
	font-family: simhei;
	font-size: 12px;
	color: #aaa;
	padding-left: 21px;
}
.project-wrap{
	margin: 13px 20px 24px 20px;
}
.project-content{
	width: 491px;
	height: 251px;
	border: 1px solid #d8d9da;
	background-color: #fff;
}
.project-tab li{
	display: inline-block;
	width: 82px;
	height: 28px;
	line-height: 28px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #535353;
	background-color: #ededf0;
	text-align: center;
}
.project-tab li.active{
	position: relative;
    top: 1px;
	border-top: 1px solid #d8d9da;
    border-left: 1px solid #d8d9da;
    border-right: 1px solid #d8d9da;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.project-table{
	width: 403px;
	height: 186px;
	margin: 0 auto;
    margin-top: 28px;
	border: 1px solid #ddddde;
	font-size: 12px;
  	font-family: "SimSun";
 	color: rgb(83, 83, 83);
}
.project-table tr td{
	border: 1px solid #ddddde;
	text-align: center;
}
.project-search{
	width: 351px;
	margin-left: 5px;
}
.project-search-content h2{
	margin-top: 18px;
	margin-left: 52px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #C3C2C2;
}
.project-report{
	margin-top: 6px;
	margin-left: 52px;
	margin-bottom: 9px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #535353;
}
.project-report-item{
	margin-left: 35px;
	padding-left: 15px;
	width: 96px;
    height: 45px;
    border-top:1px solid #e7e8e8;
    border-right:1px solid #e7e8e8;
    border-bottom:1px solid #e7e8e8;
}
.project-report-item p:first-child{
	margin-bottom: 7px;
	font-family: "microsoft yahei";
	font-size: 13px;
	color: #C3C2C2;
}
.project-report-item p:last-child{
	font-family: "microsoft yahei";
	font-size: 11px;
	color: #535353;
}
.project-report-charge{
	margin-left: -3px;
	width: 185px;
	border-right:none;
}
.detail-description{
	margin-top: 3px;
	margin-left: 49px;
	font-family: "microsoft yahei";
	font-size: 13px;
	color: #C3C2C2;
}
.detail-description-info{
	margin-top: 6px;
	margin-left: 51px;
	font-family: "microsoft yahei";
	font-size: 13px;
	color: #535353;
}
.agree-check{
	display: inline-block;
	vertical-align:text-bottom; 
	margin-bottom:2px; 
	margin-bottom:-2px\9;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #C3C2C2;
}
.project-search-btn{
	width: 51px;
	height: 26px;
	line-height: 26px;
	margin-left: 133px;
	font-family: simhei;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #388ac1;
}
.project-bottom{
	margin-top: 109px;
	margin-left: 35px;
    width: 281px;
    border-top: 1px solid #e8e8e8;
}
.agree-checkbox{
	margin-top: 11px;
	margin-left: 3px;
}
.calendar{
	margin-left: 0px;
	margin-right: 5px;
}
.car-table{
	width: 451px;
	height: 276px;
	margin: 22px auto;
	border: 1px solid #cacbcb;
	border-bottom: none;
}
.car-table tr td{
	height: 25px;
	border: 1px solid #cacbcb;
	text-align: center;
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(50, 51, 51);
  	padding-left: 10px;
    padding-right: 10px;
}
.car-table tr:last-child td{
	border-bottom: none;
}
.car-table tr th{
	height: 26px;
	border: 1px solid #cacbcb;
	font-size: 13px;
  	font-family: "SimHei";
  	color: rgb(35, 24, 21);
}
.car-table>tbody tr:hover{
	background-color: #f4f6f7;
}
.search-name{
	padding-left: 29px;
}
.search-index-td{
	padding-left: 32px !important;
}
.search-index{
	display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}
.progress {
	display: inline-block;
	width: 168px;
    height: 4px;
    margin-top: 9px;
    margin-left: 6px;
    vertical-align: top;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress {
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f5f5f5));
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #ec6e51;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
/*.progress-bar {
    background-image: -webkit-linear-gradient(top,#ec6e51 0,#ec6e51 100%);
    background-image: -o-linear-gradient(top,#ec6e51 0,#ec6e51 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ec6e51),to(#ec6e51));
    background-image: linear-gradient(to bottom,#ec6e51 0,#ec6e51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec6e51', endColorstr='#ffec6e51', GradientType=0);
    background-repeat: repeat-x;
}*/
.progress-bar-warning {
    background-color: #ef8150;
}
.progress-bar-danger{
	background-color: #f19f4f;
}
.progress-bar-info{
	background-color: #7ecaf0;
}
.calendar-box{
	padding: 10px 20px 24px 20px;
}
.calendar-select{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(83, 83, 83);
	border: 1px solid #cbcbcb;
}
.year{
	width: 64px;
}
.month{
	width: 85px;
	padding-left: 26px;
	margin-left: 3px;
}
.date-marked{
	width: 75px;
	margin-left: 3px;
}
.back-today{
	position: relative;
    top: 1px;
	width: 64px;
	height: 22px;
	line-height: 22px;
	margin-left: 3px;
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(83, 83, 83);
	border: 1px solid #cbcbcb;
	background-color: #fff;
}
.calendar-table{
	margin-top: 10px;
}
.op-calendar-table{
	width: 310px;
}
.week-box{
	font-size: 12px;
  	font-family: "SimHei";
  	color: rgb(83, 83, 83);
	border-top: 1px solid #a9cfec;
	border-bottom: 1px solid #e1e1e2;
}
.op-calendar-table th{
	height: 30px;
}
/*.op-calendar-new-relative {
    position: relative;
    width: 100%;
    zoom: 1;
}*/
.op-calendar-table td{
	width: 40px;
	height: 40px;
}
.op-calendar-table td a{
	display: block;
    width: 24px;
    padding: 7px 8px 10px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
}
.op-calendar-table td a:hover{
	border: 1px solid #f7d463;
}
.op-calendar-new-daynumber {
    display: block;
    height: 18px;
    font-size: 11.361px;
    font-family: "SimHei";
    color: rgb(50, 51, 51);
}
.op-calendar-new-table-almanac {
    display: block;
    font-size: 11.361px;
  	font-family: "SimHei";
  	color: rgb(50, 51, 51);
}
.festival{
	color: rgb(201, 22, 29);
}
