.inline-b{
	display: inline-block;
}
.container{
	border: 1px solid #999;
	background-color: #eee;
}
.wrap{
	padding: 20px;
}
.left{
	width: 200px;
	padding: 20px;
	border: 1px solid #999;
}
.header-logo,.header-name{
	vertical-align: top;
}
.logo{
	width: 80px;
	height: 80px;
}
.header-name{
	margin-left: 15px;
}

.right{
	width: 120px;
	padding: 20px;
	border: 1px solid #999;
}
.img-inner{
	text-align: center;
	margin-bottom: 20px;
}
.left,.right,.middle{
	vertical-align: top;
}
.middle {
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #999;
    width: calc(100% - 495px);
}
